body{
    background-color: #c9af98;
}
.header{
    width: page;
    height: 100px;
    background-color: #F6E6CB;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title{
    font-style: italic;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    font-weight:bold;

}
.card {
    border-radius: 25px ;
    
    padding: 20px ;
    background-color: white;
    margin: 25px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    display: flex;
}

.cont1{
    padding: 15px;
    margin: 1px auto;
    width: 300px;
    height: 30px;
    background-color:#d0b9a07c;
    border-radius: 25px; 
    border-color: black;
    cursor: pointer;
}
.text{
    text-align: center;
    font-size: 18px;
    margin: 1%;
    font-weight: bold;
    text-decoration: underline;
}
.bottom{
    width: page;
    height: 30px;
    background-color: black;
    

    
}